*.log
npm-debug.log*

# Coverage directory used by tools like istanbul
coverage
.nyc_output

# Dependency directories
node_modules

# npm package lock
package-lock.json
yarn.lock

# project files
src
test
examples
__fixtures__
__tests__
CHANGELOG.md
.vscode
.travis.yml
.editorconfig
.eslintignore
.eslintrc
.babelrc
.gitignore
